.pergunta-normal{
    position: absolute;
    background: rgba(0, 128, 255, 0.9);
    width: 45%;
    border-radius: 10px;
    margin-top: 10%;
    margin-right: 5%;
    text-align: center;
}

.pergunta-invisible{
    visibility: hidden;
    position: absolute;
    background: rgba(0, 128, 255, 0.9);
    width: 45%;
    border-radius: 10px;
    margin-top: 10%;
    margin-right: 5%;
    text-align: center;
}

.buttons{
    margin-bottom: 2%;
}